*, html {
    margin:0;
    padding:0;  
    background: #101010;
}

.container {
    display: flex;
    justify-content: center;
}

.background-rectangles {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 35vw;
    justify-content: center;
}

.background-rectangles > div {
    flex: 1;
}

.top-rectangle {
    background: #1F2937;
    position: relative;
}

.header {
    height: 5vh;
    background: #1F2937;
    border: solid 1px white;
    position: absolute;
    width: 100%;
    max-width: 100%;
}

.middle1-rectangle {
    background: white
}

.middle2-rectangle {
    background: #E5E7EB;
}

.bottom-rectangle {
  background: white;
  position: relative;
}

.footnote-rectangle {
    height: 5vh;
    background: #1F2937;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}